* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #dde49b;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#content-container {
    width: min(95vw, 68vh, 768px);
    max-width: 95vw;
    height: 98vh;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.play-game-btn {
    background: #00000014;
    outline: none;
    width: min(3vw, 4vh, 40px);
    height: min(3vw, 4vh, 40px);
    padding: 14px;
    margin: 6px;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: .5vw;

    cursor: pointer;
    transition: 300ms;
}
#play-game-btn:hover {
    background: #0000001c;
}
#items-container {
    width: min(95vw, 68vh, 480px);
    display: grid;

    height: 20px;
    background-color: red;
}

.item {
    outline: .01vw solid #04011b6c;
    display: flex;
    flex-flow: row wrap;

    transition: 400ms;

    overflow-x: hidden;
    overflow-y: scroll;
    overflow: scroll;
    scrollbar-width: none;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    -ms-scroll-snap-type: y mandatory;
}
.item::-webkit-scrollbar {
    display: none;
}
img {
    scroll-snap-align: start;
    width: 100%;
    height: 100%;
}