* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #a2dfb8;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#block {
    outline: 4px solid;
    outline-color: #ff3333;

    display: flex;
    flex-flow: row wrap;
    width: 281px;
    height: 281px;
    margin: 28px 0;

    transition: 400ms;

    overflow-x: hidden;
    overflow-y: scroll;
    overflow: scroll;
    scrollbar-width: none;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}
#block::-webkit-scrollbar {
    display: none;
}
img {
    scroll-snap-align: start;
    width: 281px;
    height: 281px;
}
p {
    margin: 2px 0;
    font-size: 1.5rem;
}
span {
    background-color: #0004ff0b;
    background-color: #00000015;
}

#lastPiece, #firstPiece {
    transition: 1300ms;
}